<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
</head>
<body>
<center>
    <form action="login" method="post">
        <a href="phonelogin.html">验证码登陆</a><br>
        用户名:<input type="text" name="username" placeholder="请输入账号"/><br/>
        密码：<input type="text" name="password" placeholder="请输入验证码"/><br/>
        <a href="changecode.html">忘记密码</a><br>
        <input type="submit" value="登陆"/><br/>
        <a href="register.html">注册</a>
    </form>
</center>

</body>
</html>