<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CenterMapper">

    <resultMap id="goodsCmother" type="com.entity.GoodsCmother">
        <id property="cmotherId" column="cmother_id"/>
        <result property="commentId" column="comment_id"/>
        <result property="userId" column="user_id"/>
        <result property="content" column="content"/>
        <result property="timeCreate" column="time_create"/>
        <result property="timeModified" column="time_modified"/>
    </resultMap>

    <resultMap id="goodsComment" type="com.entity.GoodsComment">
        <id property="commentId" column="comment_id"/>
        <result property="userId" column="user_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="content" column="content"/>
        <result property="timeCreate" column="time_create"/>
        <result property="timeModified" column="time_modified"/>
    </resultMap>
    <!-- 1.插入一条商品评价-->
    <insert id="insertComment" parameterType="com.entity.GoodsComment">
        insert into goods_comment(user_id,goods_id,content,time_create,time_modified) values(#{userId},#{goodsId},#{content},#{timeCreate},#{timeModified})
    </insert>
   <!-- 2.拿到某个商品的所有的评价-->
    <select id="selectAllCommentById" resultMap="goodsComment">
        select * from goods_comment where goods_id=#{goodsId}
    </select>
    <!-- 3. 拿到某个用户的所有评价-->
    <select id="getComment" resultMap="goodsComment">
      select * from goods_comment where user_id=#{userId}
    </select>
    <!--4. 删除评论-->
    <delete id="deleteComment" parameterType="java.lang.Long">
         delete from goods_comment where comment_id=#{commentId}
    </delete>
    <!--6. 插入一条互评-->
    <insert id="insertCmother" parameterType="com.entity.GoodsCmother">
        insert into goods_cmother(comment_id,user_id,content,time_create,time_modified) values(#{commentId},#{userId},#{content},#{timeCreate},#{timeModified})
    </insert>
    <!--7. 拿到某条评价的所有互评-->
    <select id="selectAllCmotherById" resultMap="goodsCmother">
        select * from goods_cmother where comment_id=#{commentId}
    </select>
    <!--9.评价页面自定义返回类-->
    <select id="getGoodsComments" parameterType="java.lang.Long" resultType="com.entity.CenterResponse.CommentResponse">
        SELECT
            gc.content,
            gc.time_create as timeCreate,
            g.pic as goodsPic,
            u.username,
            u.pic as userPic
        FROM  goods_comment gc
            INNER JOIN goods g
                INNER JOIN user u
                           ON gc.`goods_id` = g.`goods_id`
                               AND gc.`user_id` = u.`user_id` where g.goods_id=#{goodsId}
    </select>

</mapper>